{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"><font color="">Change Password </font></h2>
<from method="post" action="{% url 'changepassword'%}">
    {% csrf_token %}
      <table align="center" >
          <tr>
              <td> Enter UserName :</td>
              <td> <input type="text" name="üname" required/></td>
          </tr>
          <tr>
              <td><label> Enter old Password :</label></td>
              <td><input type="text" name="opwd" required/></td>
          </tr>
          <tr>
              <td><label> Enter New Password :</label></td>
              <td><input type="text" name="npwd" required/></td>
          </tr>
          <tr>
        <td align="center"><br><input type="submit" value="Reset"</td>
         <td align="center"><br><input type="reset" value="Clear"</td>
    </tr>


      </table>
</from>
{% endblock %}